{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "plugins": ["prettier-plugin-organize-imports"],
  "overrides": [
    {
      "files": ".fallowrc.jsonc",
      "options": { "trailingComma": "none" }
    }
  ]
}
